@keyframes openJail {
    from {
        width: 80px;
    }
    to {
        width: 60px;
    }
}
.userJailCard {
    width: 80px;
    height: 80px;
    background: url('../../../../smallImages/user.png');
    border: 3px solid grey;
    border-radius: 5px;
    & span {
        color: beige;
        font-weight: 500;
    }
    & img {
        height: 80px;
        width: 80px;
    }
    & img:hover {
        height: 80px;
        width: 80px;
        animation-name: openJail;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}